{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>LOGIN</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}

{% block conteudo %}
<div class="row">
				<div class=" col-md-12">
					<h1 class="text-center">LOGIN</h1>
					{% if form.errors %}
					<div class="alert alert-danger">
						<strong>Username e/ou Senha inválidos!</strong>
					</div>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form method="post">
						{% csrf_token %}
						<div class="form-group">
							<label for="exampleInputEmail1">Username</label>
							{{ form.username | add_class:"form-control"}}
							<small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seus dados, com ninguém.</small>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Senha</label>
							{{ form.password| add_class:"form-control"}}
						</div>
						<button type="submit" class="btn btn-primary">Login</button>
					</form>
				</div>
			</div>
{% endblock %}