{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>Cadastro</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}

{% block conteudo %}
<div class="row">
			<div class=" col-md-12">
				{% if not user.is_authenticated %}
				<h1 class="text-center">CADASTRE-SE</h1>
				{% endif %}

				{% if user.is_authenticated %}
				<h1 class="text-center">EDITE</h1>
				{% endif %}

				{% if form.errors %}
				<div class="alert alert-danger">
					<strong>Algo deu errado!</strong>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					{% csrf_token %}
					<div class="form-group">
						<label for="exampleInputEmail1">Username</label>
						{{ form.username | add_class:"form-control"}}
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Senha</label>
						{{ form.password1 | add_class:"form-control"}}
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Confirmar Senha</label>
						{{ form.password2 | add_class:"form-control"}}
					</div>
					{% if not user.is_authenticated %}
					<button type="submit" class="btn btn-primary">Cadastrar</button>
					{% endif %}
					{% if user.is_authenticated %}
					<button type="submit" class="btn btn-primary">Salvar Alterações</button>
					{% endif %}
				</form>
			</div>
		</div>

{% endblock %}