{% extends "base2.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>Confirmar reservas</title>
{% endblock %}

{% block conteudo %}
<div class="row">
	<div class="col-12">
		<h1>Confirmar reservas</h1>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Número</th>
					<th scope="col">Data</th>
					<th scope="col">Hora</th>
					<th scope="col">Telefone</th>
					<th scope="col">Resultado</th>
					<th scope="col">Confirmação</th>
				</tr>
			</thead>
			<tbody>
				{% for reserva in lista_reservas %}
				<tr>
					{% if not reserva.resultado %}
					<th scope="row">{{reserva.id}}</th>
					<td>{{reserva.data}}</td>
					<td>{{reserva.hora}}</td>
					<td>{{reserva.contato}}</td>
					<td>Em andamento</td>
					<td> <a href="{% url 'confirmar' reserva.id %}"><button type="button" class="btn btn-info" >sim</button> </a> <a href="{% url 'excluir_reserva' reserva.id %}"> <button type="button" class="btn btn-danger">Não</button></td> </a>
					{% else %}
					<td> Nada para confirmar</td>
						{% endif %}
					</tr>
					{% empty %}
					<tr>
						<td colspan="7" scope="row">Nada Castrado</td>
					</tr>
					{% endfor %}
				</tbody>

			</table>
		</div>
	</div>

<div class="row">
	<div class="col-12">
		<h1>Reservas confirmadas</h1>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Número</th>
					<th scope="col">Data</th>
					<th scope="col">Hora</th>
					<th scope="col">Telefone</th>
					<th scope="col">Resultado</th>
					<th scope="col">Confirmação</th>
				</tr>
			</thead>
			<tbody>
				{% for reserva in lista_reservas %}
				<tr>
					{% if reserva.resultado %}
					<th scope="row">{{reserva.id}}</th>
					<td>{{reserva.data}}</td>
					<td>{{reserva.hora}}</td>
					<td>{{reserva.contato}}</td>
					<td>Confirmado</td>
					<td> <a href="{% url 'confirmar' reserva.id %}"><button type="button" class="btn btn-info" disabled>sim</button> </a> <a href="{% url 'excluir_reserva' reserva.id %}"> <button type="button" class="btn btn-danger" disabled>Não</button></td> </a>
					{% else %}
					<td> Nada ainda</td>
						{% endif %}
					</tr>
					{% empty %}
					<tr>
						<td colspan="7" scope="row">Nada Castrado</td>
					</tr>
					{% endfor %}
				</tbody>

			</table>
		</div>
	</div>
{% endblock %}